.container{
    display: flex;
    flex-direction: row;
}

.item{
    border: 1px solid #888;
    background-color: #DDD;
    padding: 50px;
    text-align: center;

    flex-grow: 1;
}

/* Desktop first */

@media (max-width: 480px){
    .container{
        flex-direction: column;
    }
}



