/* CSS 2D Transform

translate: change position
rotate
scale
skew: 
matrix
*/

.item{
    width: 100px;
    height: 100px;
    background-color: #DDD;
    /* transform: translate(50px, 50px); */
    /* transform: scale(0.5); */
    /*     transform: rotate(45deg); */
}


