body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: flex;
    padding: 0;
    list-style: none;
}

.menu li{
    padding: 8px 16px;

}

.menu li:hover{
    background-color: #EEE;
}

.has-submenu{
    position: relative;
    
}

.has-submenu:hover .submenu{
    display: block;
}

.submenu{
    list-style: none;
    padding: 0;
    position: absolute;

    /* Default */
    display: none;

    left: 0;
    top: 100%;

    background-color: #EEE;
}