/* 
    position: static* | relative | fixed | absolute | sticky


    relatvie: top bottom left right 10px;
*/

/* .container{
    display: flex;
} */

.box{
    width: 100px;
    height: 100px;
    color: white;
}

.red{
    background-color: red;;
}

.green{
    background-color: green;
    /* position: relative; */
    /* top: 10px */
}

.blue{
    background-color: blue;;
}

.fixed{
    position: fixed;
    right: 10px;
    top: 10px;
}