body{
    background-color: #EEE;
    font-family: sans-serif;
}

.list-item{
    color:red;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 4px;
    background-color: #DDD;
}

.list-item-transparent{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,86,121,1) 35%, rgba(0,212,255,1) 100%);
}